@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root{
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
    --White: hsl(0, 0%, 100%);
    --Very-light-grayish-blue: hsl(210, 60%, 98%);
    --Light-grayish-blue-1: hsl(211, 68%, 94%);
    --Light--grayish-blue-2: hsl(205, 33%, 90%);
    --Grayish-blue: hsl(219, 14%, 63%);
    --Dark-grayish-blue: hsl(219, 12%, 42%);
    --Very-dark-blue: hsl(224, 21%, 14%);
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.main-container{
    max-width: 777px;
    margin:auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 245, 247);
    width: 100%;
    padding: 1.5rem 1rem;
}

header .notification_number_container{
    display: flex;
    align-items: center;
}

.notification_number_container h2{
    margin-right: 0.5rem;
    color: var(--Very-dark-blue);
}

.notification_number_container span{
   background-color: var(--Blue);
   color: white;
   padding: 0.2rem 0.8rem;
   border-radius: 0.5rem;
   font-weight: 700;
}

header button{
    all: unset;
    color: var(--Dark-grayish-blue);
    font-weight: 500;
    cursor: pointer;
}

header button:hover{
    color: var(--Blue);
}

.all_notification_container{
    padding: 0 1.5rem;
}

.all_notification_container 
.unseen_notification_container{
    margin: 0.5rem 0;
}

.unseen_notification_container 
.unseen_notification,
.seen_notification_container 
.seen_notification{
    background-color: var(--Very-light-grayish-blue);
    border-radius: 0.5rem;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.unseen_notification_container 
.unseen_notification.active{
    background-color: white;
}

.seen_notification_container 
.seen_notification{
    background-color: white;
}

.unseen_notification img ,
.seen_notification img{
    width: 2.5rem;
    margin-right: 0.8rem;
}

.unseen_notification .message_info p,
.seen_notification .message_info p{
    color: var(--Dark-grayish-blue);
    font-size: 0.9rem;
}

.name{
    font-weight: 800;
    color: var(--Very-dark-blue);
    margin-right: 0.2rem;
}

.game-txt{
    font-weight: 800;
    color: var(--Dark-grayish-blue);
    font-size: 0.9rem;
}
.unseen_notification .message_info p .circle{
    display: inline-block;
    border-radius: 50%;
    background-color: var(--Red);
    padding: 4px ;
    margin-left: 0.2rem;
}

.unseen_notification.active .message_info p .circle{
    display: none;
}

.message_info p .club-text{
    color: var(--Blue);
    font-weight: 800;
}

.message_info .time{
    color: var(--Grayish-blue);
    margin-top: 0.4rem;
}

.seen_notification .private-msg{
    border: 1px solid var(--Light--grayish-blue-2);
    margin-top: .5rem;
    padding: 1rem;
    border-radius: 0.33rem;
}

.seen-flex-div{
    display: flex;
    margin-right: 1rem;
}

.seen-flex-div img{
    width: 2.5rem;
    height: 2.5rem;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name:hover,.game-txt:hover{
    color: var(--Blue);
}

.private-msg:hover{
    background-color: rgb(222, 232, 247);
}

@media (min-width:768px){
    .main-container{
        max-width: 600px;
        margin:2rem auto;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 0.33rem;
    }
}










